body{
  margin:0;
  font-family:Arial;
  background:#0f0f0f;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  text-align:center;
}

.container{
  padding:20px;
}

button{
  background:#00bcd4;
  border:none;
  padding:12px 25px;
  color:white;
  font-size:16px;
  border-radius:8px;
  cursor:pointer;
}
